* {
  color: grey;
  font-size: 40px;


}

.fondo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: {
    color: black;

  }
  .grad,
  .grud,
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 4em);
    grid-gap: 0.7em;
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
   
  }

  
  

}


input {
  background: {
    color: white;
  }
}
